.container{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style: none;  
}

.tabble-nav div a{
    display: block;
}

.tabble-content{
    padding-top: 2em;
}


.dropdownmenu{
    padding: 2em;
    position: absolute;
}
.dropdownmenu{

}
/* p*/
.head{
    font-size: .9em !important;
    font-weight: bold;
    margin-bottom: .4em;
}

.subhead{
    font-size: .8em !important;
    margin-bottom: .4em;
}

p{
    text-align: justify;
}

/*megamenu*/

.megamenu{
    //border: 1px solid black;
    //background-color: #999999;
    background-color: #fafafa;
    position: relative;
    border: 1px solid #eeeeee;
}

.megamenu a{
    //color: black;
    color: #946666;
    display: block;
}

.megamenu > li > a, .dropdown_container > div > ul > li > a{
    font-size: small;
    color: #946666;
    display: block;
}

.dropdown_container > div > ul > li > a{
    padding-bottom: .6em;
}
.megamenu > li > a{
    padding-left: .5em;
}

.megamenu ul li:hover{
    //background-color: #e6e6e6;
    background-color: #f3f3f3;
}

.megamenu ul li{
    padding: .5em 0 0 0;
}

.megamenu > li:hover{
    //background-color: #CCCCCC;
    background-color: #f3f3f3;
}
.megamenu > li{
    padding: .5em 0 .5em 0;
}

.megamenu ul{
    position: absolute;
}


.megamenu .dropdown_columns {
    width: 400%;
}
.megamenu li:hover .dropdown_container {
    top:100%;
    left:auto;
    background-color: #fafafa;
}

.dropdown_container{
    position: absolute;
    margin:0;
    padding-top: .5em;
    padding-bottom: .5em;
    left:-9999em;
    top:-9999em;
    display: block;
    zoom:1;
    z-index:9998;
    float: left;
    border: 1px solid #eeeeee;
}

.megamenu .col_1,
.megamenu .col_2,
.megamenu .col_3,
.megamenu .col_4,
.megamenu .col_5,
.megamenu .col_6,
.megamenu .col_7,
.megamenu .col_8,
.megamenu .col_9,
.megamenu .col_10,
.megamenu .col_11,
.megamenu .col_12 {
    float: left;
    display:inline;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    *margin-left: 1.9%;
    *margin-right: 1.9%;
}

.megamenu .col_1 {width:4.33%;}
.megamenu .col_2 {width:12.66%;}
.megamenu .col_3 {width:21%;}
.megamenu .col_4 {width:29.33%;}
.megamenu .col_5 {width:37.66%;}
.megamenu .col_6 {width:46%;}
.megamenu .col_7 {width:54.33%;}
.megamenu .col_8 {width:62.66%;}
.megamenu .col_9 {width:71%;}
.megamenu .col_10 {width:79.33%;}
.megamenu .col_11 {width:87.66%;}
.megamenu .col_12 {width:96%;}

.megamenu ul > li > a{
    padding-left: .6em;
}

.megamenu ul > li:hover div{
    display: block !important;
}

.dropdowncontent{
    //border: 1px solid black;
    height: 250px;
    padding: 1em 0 2em 1em;
    //background: #e6e6e6;
    background-color: #f3f3f3;
    width: 300% !important;
    margin: .2em 0 0 0 !important;
    display: none !important;
}

.dropdowncontent a{
    font-size: x-small;
    margin-bottom: .4em;
    text-decoration: underline;
    text-underline-position: below;
}

.dropdowncontent strong{
    font-size: small;
    padding-bottom: .8em;
}
/*our process*/
.our-process{
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.our-process-content{
    display: block;
    height: 140px;
    border: 1px solid black;
}

.our-process-head{
    padding-top: 1em;
}

/*recent successes*/
.recent-successes-header{
    padding-top: 1em;
}

.recent-successes{
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.recent-successes > div > div:first-child > img{
    // border: 1px solid black;
    height: 250px;
}
.slider{
    display: block;
}

/*client testimonials */
.client-employee-header{
    padding-top: 1em;
}

.client-employee-content > img{
    //border: 1px solid black;
    //height: 230px;
}

.client-employee{
    padding-top: 1em;
    padding-bottom: 1em;
}


/*Blog*/
.blog-header{
    padding-top: 1em;
}

.blog{
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.blog > div > div:first-child > div{
    border: 1px solid black;
    height: 250px;
}
.slider{
    display: block;
}
/*contact us*/

.contactus{
    padding: 3em 0 1em 0;
}

.contactus img{
    width: 25px;
    margin-left: .6em;
    cursor: pointer;
}

/* footer */

.footer{
    //border: 1px solid black;
    padding: 1em 0 1em 0;
}

.footer a{
    text-decoration: underline !important;
    text-underline-position: below;
}

body p{
    font-size: small;
}

.link{
    position: relative;
    bottom: 0px;
}

/*breadcrumbs*/

.breadcrumbs{
    padding: 0px;
    background-color: white;
    border: none;
}

/*hero*/

.hero label{
    position: absolute; 
    bottom: 0px; 
    margin: 0;
    background-color: #cccccc;
    border: 1px solid black;
    padding: 1em;
}

.hero{
    position: relative;
}
/*about us*/

/*2nd layer*/
.about-us-2{
    padding-top: 1em;
}

.about-us-2-content p{
    font-size: small;
}

/* 3rd layer */
.about-us-3{
    padding-top: 1em;
}

.about-us-3-content p{
    font-size: small;
}

/*4th layer*/
.about-us-4{
    padding-top: 1em;
}

.about-us-4-content{
    font-size: small;
}

/*5h layer*/
.about-us-5{
    padding-top: 1em;
}

.about-us-5-content1, .about-us-5-content3{
}

.about-us-5-content2, .about-us-5-content4{
    padding-top: 2em;
}
.about-us-5-content2 a, .about-us-5-content4 a{
    text-decoration: underline !important;
    text-underline-position: below;
}

/*6,7,8th layer*/

.about-us-6, .about-us-7, .about-us-8{
    padding-top: 1em;
}

.about-us-6-content a, .about-us-7-content a, .about-us-8-content a{
    text-decoration: underline !important;
    text-underline-position: below;
}

/*infrastructure*/

.infrastructure-head{
    padding-top: 1em;
}

.infrastructure-content p{
    font-size: small;
    margin: 0;
    padding-bottom: .4em;
}