.container{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style: none;  
}

.tabble-nav div a{
    display: block;
}

.tabble-content{
    padding-top: 2em;
}


.dropdownmenu{
    padding: 2em;
    position: absolute;
}
.dropdownmenu{

}
/*header*/


/*megamenu*/

.megamenu{
    border: 1px solid black;
    position: relative;
}
.megamenu > li{
    padding: .5em 0 .5em 0;
}

.megamenu ul{
    position: absolute;
}


.megamenu .dropdown_columns {
    width: 400%;
}
.megamenu li .dropdown_container {
    top:100%;
    left:auto;
    background-color: white;
}

.dropdown_container{
    position: absolute;
    margin:0;
    padding-bottom:10px;
    padding-top: .5em;
    left:-9999em;
    top:-9999em;
    display: block;
    zoom:1;
    z-index:9998;
    float: left;
    border: 1px solid black;
}

.megamenu .col_1,
.megamenu .col_2,
.megamenu .col_3,
.megamenu .col_4,
.megamenu .col_5,
.megamenu .col_6,
.megamenu .col_7,
.megamenu .col_8,
.megamenu .col_9,
.megamenu .col_10,
.megamenu .col_11,
.megamenu .col_12 {
    float: left;
    display:inline;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    *margin-left: 1.9%;
    *margin-right: 1.9%;
}

.megamenu .col_1 {width:4.33%;}
.megamenu .col_2 {width:12.66%;}
.megamenu .col_3 {width:21%;}
.megamenu .col_4 {width:29.33%;}
.megamenu .col_5 {width:37.66%;}
.megamenu .col_6 {width:46%;}
.megamenu .col_7 {width:54.33%;}
.megamenu .col_8 {width:62.66%;}
.megamenu .col_9 {width:71%;}
.megamenu .col_10 {width:79.33%;}
.megamenu .col_11 {width:87.66%;}
.megamenu .col_12 {width:96%;}

.megamenu ul > li{
    text-align: center;
}

.dropdowncontent{
    height: 150px;
    border: 1px solid black;
    padding: 1em 0 1em 0;
}
/*our process*/
.our-process{
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.our-process-content{
    display: block;
    height: 140px;
    border: 1px solid black;
}

.our-process-head{
    padding-top: 1em;
}

/*recent successes*/
.recent-successes-header{
    padding-top: 1em;
}

.recent-successes{
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.recent-successes > div > div:first-child > div{
    border: 1px solid black;
    height: 250px;
}
.slider{
    display: block;
}

/*client testimonials */
.client-employee-header{
    padding-top: 1em;
}

.client-employee-content > div:first-child{
    border: 1px solid black;
    height: 230px;
}

.client-employee{
    padding-top: 1em;
    padding-bottom: 1em;
}

/*Blog*/
.blog-header{
    padding-top: 1em;
}

.blog{
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.blog > div > div:first-child > div{
    border: 1px solid black;
    height: 250px;
}
.slider{
    display: block;
}
/*contact us*/

.contactus{
    padding: 1em 0 1em 0;
}

/* footer */

.footer{
    border: 1px solid black;
    padding: 1em 10% 1em 10%;
}

